* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: black;
}

.container {
    /*  center items on the page */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .green-scanner {
    width: 80vw;
    height: calc(80vw/2);
    border-top-left-radius: 40vw;
    border-top-right-radius: 40vw;
    transform-origin: bottom center;
    background: radial-gradient(circle at 50% 100%, #00ff0055, #00ff00);
    position: absolute;
    bottom: 0;
  }

  .outer-circle {
    width: 85vw;
    height: calc(85vw/2);
    border-top-left-radius: 45vw;
    border-top-right-radius: 45vw;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 50px 0 #00ff0055;

  }

  .outer-circle:before,
  .outer-circle:after {
    content: "";
    width: 85vw;
    height: calc(85vw/2);
    border-top-left-radius: 45vw;
    border-top-right-radius: 45vw;
    position: absolute;
    border: 1px solid #0ce60c;
    box-shadow: 0 0 20px 0 #00ff0055;

  }


.ripple:before {
  animation: ripple 2s infinite linear;
}

.ripple:after {
  animation: ripple 2s infinite linear;
  animation-delay: 1s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3.5);
  }
}


  .canvas-radar {
    width: 80vw;
    height: calc(80vw/2);
    position: absolute;
    height: calc(80vw/2);
    pointer-events: none;
    bottom: 0;
    border-top-left-radius: 40vw;
    border-top-right-radius: 40vw;
  }


  .line {
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
    width: 3px;
    height: calc(80vw/2);
    background: linear-gradient(to bottom, rgba(196, 254, 196), rgba(0, 100, 0, 0));
    transition: transform 0.5s ease;
  }

  .connect {
    position: absolute;
    outline: none;
    top:10px;
    right:10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    font-size: medium;
    border-width: 5px;
    border-color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 10;
  }

  .connect:hover {
    font-size: large;
    transform: scale(1.1);
  }
  
  .connect:active {
    transform: scale(1.1);
  }
  
  
  
